*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #8c8;
  }
  
  .wrapper{
    background: white;
    max-width: 410px;
    border-radius: 7px;
    padding: 16px 25px;
    /* width: 400px; */
  }
  
  
  #message{
    display: flex;
    padding: 40px 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bolder;
    color: green;
    font-size: 20px;
  }


  .wrapper div p{
    color: gray ;
    font-weight: 500;
    font-size: 15px;
  }
 
  
