*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



.container{
    background-color: lightsteelblue;
    background-image: url('nick-fewings-XXBgxhS_-vc-unsplash.jpg');
    
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    width: 30%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 1px 1px 15px;
}

.box p{
    font-size: 35px;
    color: white;
    margin: 10px;
    margin-bottom: 30px;
    text-shadow: 1.25px 1.25px 2px #3c4043 ;
}


.box form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box form input{
    color: rgb(231, 231, 231);
    font-weight: 10;
    padding: 10px;
    width: 300px;
    height: 35px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1.5px solid rgba(0, 0, 0, 0.4);
}

.box form input::placeholder{
    color: whitesmoke;
    opacity: 0.5;
    font-weight: 10;
    
}

.box form .msg{
    margin-top: 2px;
    width: 300px;
    height: 15px;
    background-color: transparent;
    margin-bottom: 10px;
    font-size: 11px;
}


button {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 14px;
  font-weight: 600;
  height: 35px;
  justify-content: center;
  letter-spacing: .5px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.4s ease-in-out;
}

button:hover{
    letter-spacing: 1.7px;
}


@media screen and (max-width: 1100px) {
    .box{
        width: 53%;
    }   
    .box form .msg{
        text-align: center;
        width: 290px;
    }
}

@media screen and (max-width: 660px) {
    .box{
        width: 75%;
    }   

    .box form input{
        width: 250px;
    }
}

@media screen and (max-width: 348px) {
    .box{
        width: 90%;
    }   

    .box form input{
        width: 200px;
    }

    .box form .msg{
        text-align: center;
        width: 200px;
    }
}
